.form{
    width: auto;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 5px 7px 10px #000;
  }


   
.form h4,h3 {
    font-size: 19px;
    margin-bottom: 5px;
    text-align: center ;
}

.controls {
    background: rgb(3, 3, 112);
    border-radius: 3px;
    margin-bottom: 5px;
    border: 1px solid #1f53c5;
    font-size: 15px;
    color: white;

}


.form a {
    color: white;
    text-decoration: none;

}

.form a:hover {
    color: white;
    text-decoration: underline;
}



.form .botons {
    background:#1f53c5;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;

}

.form select {
    background: rgb(3,3,112);
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 15px;
    color: white;
    margin: auto;
}

#tabla {
    margin: auto;
    border-collapse: collapse;
    width: 250px;
    margin-top: 20px;

}

table {
    background: rgb(3,3,112);
    text-align: center;
    color: white;
    width: auto;
}

th,td {
    border: solid 1px black;
    padding: 10;
    color: white;
}

.th{
    color: white;
}

.foto{
    margin-left: 37%;
}

.agrProd{
    margin-bottom: 0px;

}